@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --karla:'Karla', sans-serif;
    --brown:#5a4741;
 }
body{
    font-size: .8rem;
    color: black;
    font-family: var(--karla);
}
.container{
    width: 100%;
    max-width: 1300px;
}