@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    display: inline-block;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root{
    --karla:'Karla', sans-serif;
    --brown:#5a4741;
 }
body{
    font-size: .8rem;
    color: black;
    font-family: var(--karla);
}
.container{
    width: 100%;
    max-width: 1300px;
}

/* Common Css for All Screens */
/* .promoBlock */
.promoBlock{
    background-color: var(--brown);
    color: white;
}
.promoMessage{
    text-transform: uppercase;
    font-weight: 400;
}
.menuLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuLinks .counts{
position: relative;
}
.menuLinks .counts::before{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -45%;
    left:70%;
    width: 10px;
    height: 10px;
    padding: 3px;
    content: "0";
    font-weight: bold;
    border-radius: 50%;
    font-size: 0.6rem;
    color: white;
    text-align: center;
    background-color: var(--brown);
}
/* .promoBlock */

/* menuBlock */
.menuBlock{
    padding: 0em 1em;
}
/* menuBlock */

/* navBlock */
.submenu1,.submenu2{
    background-color: white;
   
}
.menu li{
    padding: 0.4em 0.5em;
    font-size: 1.1rem;
}
.menu li a{
    color: var(--brown);
}
/* navBlock */

@media(max-width:500px){
.promoBlock{
    text-align: center;
    padding: 1em;
}
.promoMessage{
    font-size: 0.9rem;
}
.menuBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}
.navToggle{
    font-size: 1.2rem;
}
.logo img{
    width: 35%;
    margin-left: 9em;
}
.menuLinks{
    font-size: 1.3rem;
}
.menuLinks a{
    margin: 0rem 0.6rem;
    color: var(--brown);
}
.navBlock{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: 0.3s linear;
    transform: translateX(-100%);
}
.menu{
    background-color: white;
}
.navForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--brown);
    padding: 0em 0.5em;
    border-bottom: 1.5px solid #d8d8d8;
}
.navSearch,
.navForm button{
    background: none;
    outline: none;
    border: none;
    margin: 0em 0.2em;
}
.navSearchButton,.closeMenu{
    cursor: pointer;
    font-size: 1.2rem;
}
.navSearch{
    padding: 1em 0.6em;
    font-size: 0.9rem;
}
.menu li{
    border-bottom: 1.5px solid #d8d8d8;
}
.has-dropdown{
    position: relative;
}
.submenu1,
.submenu2{
    left:0;
    width: 100%;
    display: none;
    overflow: hidden;
}
[id^=subcat]:checked + ul{
    display: block;
}
[id^=subcat]:checked + ul.submenu1{
    background-color: #e5e2e2;
}
[id^=subcat]:checked + ul.submenu2{
    background-color: #d6d5d5;
}
.has-dropdown > a{
    display: flex;
    justify-content: space-between;
}
.has-dropdown .fa-chevron-right{
    transform: rotate(90deg);
}
.menu li:last-child img{
    margin-left: 10%;
    width: 80%;
}
.has-dropdown > label{
    display: flex;
    justify-content: space-between;
    color: var(--brown);
}
.has-dropdown > input[type=checkbox]{
    display: none;
}

/* 500px Media Query End Here */ }